.btn-primary {
  display: inline-block;
  padding: 1.6rem 2.4rem;
  background-color: var(--light-color-1);
  color: var(--dark-color-1);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.48px;
  transition: background-color 0.3s ease;
}

.btn-primary.white {
  background-color: #fff;
}

.btn-primary.white:hover {
  background-color: var(--dark-color-1);
  color: #fff;
}

.btn-primary.lg {
  padding: 2.3rem 2.4rem;
  font-size: 1.8rem;
}

.btn-primary:hover {
  background-color: var(--light-color-2);
}

.card-post {
  border: 2px solid rgba(255, 255, 255, 0.08);
  background-color: rgba(255, 255, 255, 0.02);
  padding: 2.4rem;
}

.card-post .tag {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  padding: 0.8rem 2.2rem;
  font-family: "Sora", sans-serif;
  color: var(--dark-color-9);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1.26px;
  text-transform: uppercase;
  margin-bottom: 4.5rem;
}

.card-post .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.4rem;
}

.card-post .text {
  width: 100%;
  max-width: 50.8rem;
}

.card-post .text h6 {
  margin-bottom: 0.8rem;
}

.card-post .text p {
  font-size: 1.8rem;
  color: var(--dark-color-4);
}

@media (max-width: 991px) {
  .item-digital {
    text-align: center;
  }

  .item-digital .icon {
    margin: 0 auto;
    margin-bottom: 1.6rem;
  }

  .item-digital .info p br {
    display: none;
  }
}

@media (max-width: 560px) {
  .item-digital .info p {
    font-size: 1.8rem;
    max-width: 31.9rem;
  }
  .card-post {
    padding: 1.6rem;
  }

  .card-post .image {
    margin-bottom: 5.4rem;
  }
  .card-post .text h6 {
    font-size: 1.8rem;
  }
  .card-post .text p {
    font-size: 1.4rem;
  }
  .s-art-front .all {
    gap: 3.2rem;
  }
}
